@model Puc2.Mvc.Entidades.Coleta

@{
    ViewBag.Title = "Pedido de Coleta";
}

<h2>Detalhe do Pedido de Coleta</h2>

<div>
    <h4>Coleta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EndereRetirada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndereRetirada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPedidoColeta }) |
    @Html.ActionLink("Voltar", "Index")
</p>
